In [13]:
val x=4

x = 4

4

In [14]:
spark.version

2.4.0

In [15]:
spark.sql("SELECT * FROM range(10)").show

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+